<h1>ngx-simple-indexeddb</h1>

<p>To view result please open tools developer with F12 (Chrome, Firefox) in section Application -> Indexeddb</p>

<div class="container-buttons">
    <button (click)="saveData()">Save (languages - pk 1)</button>
    <button (click)="saveGeneratedData()">Save generated (companies - pk[1...5])</button>
    <button (click)="getDataById()">Get (companies - pk 2)</button>
    <button (click)="getDataByIndexName()">Get (companies - index: name, key: 'Company 4')</button>
    <button (click)="getAllData()">Get All (companies - pk [1...5])</button>
    <button (click)="updateData()">Update (companies - pk 2)</button>
    <button (click)="deleteData()">Delete (companies - pk 3)</button>
    <button (click)="countData()">Count data (companies)</button>
    <button (click)="clearObjectStore()">Clear Object Storage (companies)</button>
    <button (click)="deleteObjectStore()">Delete Object Storage (languages)</button>
    <button (click)="deleteBD()">Delete BD (BD1)</button>
    <button (click)="createNewDatabase()">Create new Database (BD2)</button>
    <button (click)="exportDatase()">Export in JSON Database (BD1)</button>
</div>

<br><br>

<span *ngIf="loading">Cargando....</span>

<fieldset>
    <legend>Response</legend>
    <pre>{{response|json}}</pre>
</fieldset>


<h1>ngx-adal-angular</h1>

<router-outlet></router-outlet>



