<h1>ngx-simple-indexeddb!</h1>

<p>To view result please open tools developer with F12 (Chrome) in section Application -> Indexeddb</p>

<button (click)="saveData()">Save</button><br>
<button (click)="saveGeneratedData()">Save 2</button><br>
<button (click)="getData()">Get</button><br>
<button (click)="getAllData()">Get All</button><br>
<button (click)="updateData()">Update</button><br>
<button (click)="deleteData()">Delete</button><br>
<button (click)="clearObjectStorage()">Clear Object Storage</button><br>
<button (click)="deleteBD()">Delete BD</button>
`,